@use 'mixins' as *;
@use 'variables' as *;

.card-content {
	@include flex-column();
	gap: 6px;
	overflow-wrap: break-word;
	position: relative;
	word-break: break-all;

	.title {
		font-weight: 700;
		font-size: 18px;
		max-width: 90%;
	}

	.notes {
		font-size: 14px;
		color: $gray;
		max-width: 90%;
	}

	.priority {
		&.priority-0 {
			color: $priority-low;
		}

		&.priority-1 {
			color: $priority-medium;
		}

		&.priority-2 {
			color: $priority-high;
			font-weight: 700;
		}

		&.priority-3 {
			color: $priority-critical;
			font-weight: 900;
		}
	}

	.delete-button {
		@include inline-flex-center();
		position: absolute;
		top: 0;
		right: 0;
		background: none;
		width: 32px;
		height: 32px;
		padding: 0;
		border: none;
		outline: none;
		font-size: 20px;
		line-height: 1;
		border-radius: 10px;
		cursor: pointer;

		&:hover,
		&:active {
			box-shadow: 2px 2px 0px 0px $ink;
		}
	}
}
