@let pl = plan();

<app-card padding="12px" isInteractive (clicked)="clickCard()">
	<p>{{ pl.title }}</p>
	<p class="notes">{{ pl.notes }}</p>
	<div class="priority" [class]="priority().class">{{ priority().label }}</div>

	<button
		type="button"
		class="close-button"
		aria-label="Close modal"
		(click)="openConfirmDeleteModal()"
	>
		✕
	</button>
</app-card>

<app-confirm-modal
	modalTitle="Delete plan"
	[description]="`Are you sure you want to delete '${pl.title}'?`"
	[loading]="deleteLoading()"
	[visible]="isDeleteModalOpen()"
	(cancelEvent)="closeConfirmDeleteModal()"
	(confirm)="deleteCard()"
/>
