@let carInfo = car();

<app-card padding="12px" isInteractive (clicked)="clickCard()">
	<div class="card-content">
		<p class="brand">{{ carInfo.make }} {{ carInfo.model }}</p>
		<p class="odometer">{{ carInfo.currentOdometer }} km</p>
		@if (carInfo.vin) {
			<p class="vin">VIN: {{ carInfo.vin }}</p>
		}

		<button
			type="button"
			class="delete-button"
			aria-label="Delete modal"
			(click)="openConfirmDeleteModal($event)"
		>
			✕
		</button>
	</div>
</app-card>

<app-confirm-modal
	modalTitle="Delete car"
	[description]="[
		'Are you sure you want to delete car?',
		'This will delete all associated services and plans.',
		`${carInfo.make} ${carInfo.model}`,
	]"
	[loading]="deleteLoading()"
	[visible]="isDeleteModalOpen()"
	(cancelEvent)="closeConfirmDeleteModal()"
	(confirm)="deleteCar()"
/>
