@let avatar = userAvatarDetails();

<aside class="sidebar">
  <div class="top-container" routerLink="/home">
    <img class="logo" src="/assets/images/pairly-logo.svg" alt="App Logo" />
    <h3>Autolog</h3>
  </div>

  <nav class="navbar">
    @for (item of sidebarItems; track item.label) {
      <a class="navbar-item" routerLinkActive="active" [routerLink]="[item.label]">
        <img
          [src]="item.icon"
          class="navbar-item__image"
          [alt]="`Sidebar icon for ${item.label}`"
        />
        <span class="navbar-item__label">{{ item.label }}</span>
      </a>
    }
  </nav>

  @if (currentUserInfo()) {
    <div class="user-section" routerLink="/profile">
      @if (avatar?.isImage) {
        <img class="avatar" [src]="avatar?.details" alt="user avatar" />
      } @else {
        <div class="avatar">{{ avatar?.details }}</div>
      }

      <div class="user-section__info">
        <span class="name">{{ currentUserInfo()?.displayName }}</span>
        <span class="email">{{ currentUserInfo()?.email }}</span>
      </div>
    </div>
  }
</aside>
