<section class="garage-section">
	<div class="main-content">
		<div class="main-content__header">
			<h2>My cars</h2>
			<app-button class="add-car-button" label="+ Add car" (clicked)="showCarModal()" />
		</div>

		<div class="main-content__container">
			@if (loading()) {
				<app-loader
					description="Loading your cars..."
					[spinnerSize]="64"
					[spinnerThikness]="7"
					[withBlur]="false"
				/>
			} @else {
				@for (car of cars(); track car.id) {
					<app-car [car]="car" />
				}
			}
		</div>
	</div>
</section>

<app-car-modal
	[userId]="userProfile()?.uid ?? ''"
	[visible]="isCarModalOpen()"
	(closeModal)="closeCarModal()"
/>
