@use 'mixins' as *;

:host {
	@include flex-column();
	flex: 1;
}

.garage-section {
	@include flex-column();
	flex: 1;

	.main-content {
		@include flex-column();
		gap: 24px;
		flex: 1;

		.card-content {
			display: flex;
			gap: 24px;

			&__image {
				border-radius: 20px;
				width: 200px;
				object-fit: cover;
			}

			&__info {
				@include flex-column();
				gap: 8px;
			}
		}
	}

	.add-car-button {
		display: flex;
		justify-content: flex-end;
	}
}
