<app-modal-wrapper
	modalTitle="New Service"
	[visible]="visible()"
	[innerPadding]="20"
	(closeModal)="onClose()"
>
	<div [formGroup]="serviceForm">
		<div class="global-form-field-container">
			<input
				id="title"
				type="text"
				placeholder="title"
				formControlName="title"
				[maxlength]="config.title.max"
			/>
			<span class="required-mark">*</span>

			@if (hasError('title')) {
				<p class="global-form-error" [class.visible]="hasError('title')">
					@if (serviceForm.controls.title.hasError('required')) {
						Title is required
					} @else if (serviceForm.controls.title.hasError('minlength')) {
						Title must have at least 5 symbols
					}
				</p>
			}
		</div>

		<div class="global-form-field-container">
			<input id="notes" type="text" placeholder="some notes" formControlName="notes" />
		</div>

		<div class="global-form-field-container">
			<input
				id="odometer"
				type="text"
				placeholder="odometer value"
				formControlName="odometer"
				appOnlyNumbers
				[maxlength]="config.odometer.max"
			/>
			<span class="required-mark">*</span>

			@if (hasError('odometer')) {
				<p class="global-form-error" [class.visible]="hasError('odometer')">
					@if (serviceForm.controls.odometer.hasError('required')) {
						Odometer value is required
					} @else if (serviceForm.controls.odometer.hasError('minlength')) {
						Odometer value is very low
					}
				</p>
			}
		</div>

		<div class="global-form-field-container">
			<input
				id="date"
				type="text"
				placeholder="date (DD.MM.YYYY)"
				formControlName="date"
				appOnlyNumbers
				[maxlength]="config.date.max"
				(input)="onFormatDate()"
			/>
			<span class="required-mark">*</span>

			@if (hasError('date')) {
				@let date = serviceForm.controls.date;
				<p class="global-form-error" [class.visible]="hasError('date')">
					@if (date.hasError('required')) {
						Date is required
					} @else if (date.hasError('invalidFormat')) {
						Invalid date format, should be DD.MM.YYYY
					} @else if (date.hasError('invalidYear')) {
						Year value is invalid
					} @else if (date.hasError('invalidMonth')) {
						Month value is invalid
					} @else if (date.hasError('invalidDay')) {
						Day value is invalid
					} @else if (date.hasError('invalidDate')) {
						Date doesn't exist
					}
				</p>
			}
		</div>
	</div>

	<div class="global-form-buttons-end">
		<app-button variant="secondary" label="Cancel" (clicked)="onClose()" />
		<app-button label="Add" [disabled]="!serviceForm.valid" (clicked)="onSave()" />
	</div>
</app-modal-wrapper>
