@use 'mixins' as *;
@use 'variables' as *;

:host {
	@include flex-column();
	flex: 1;
}

.buttons {
	@include flex-center();
	justify-content: center;
	position: fixed;
	background-color: $white;
	padding: 16px;
	bottom: 0;
	left: 0;
	width: 100%;
	gap: 16px;
}
