<section class="global-page-section">
	<div class="global-main-content">
		<div class="global-main-content__header">
			<app-button label="&lt; Back" variant="secondary" size="sm" (clicked)="goBack()" />
			<div class="global-main-content__header__right">
				<h2>Services</h2>
				<app-profile-button />
			</div>
		</div>

		<div class="global-main-content__container">
			@if (loading()) {
				<app-loader
					description="Loading services..."
					[spinnerSize]="64"
					[spinnerThikness]="7"
					[withBlur]="false"
				/>
			} @else {
				@let car = carInfo();
				<h3>{{ car?.make }} {{ car?.model }}</h3>

				@for (service of services(); track service.id) {
					<app-service-card [serviceInfo]="service" />
				} @empty {
					<span>It's time to add some service</span>
				}
			}
		</div>

		<div class="buttons">
			<app-button label="+ Add Many" (clicked)="openManyServicesModal()" />
			<app-button label="+ Add Service" (clicked)="openServiceModal()" />
		</div>
	</div>
</section>

<app-service-modal
	[carId]="carId()"
	[carInfo]="carInfo()!"
	[visible]="isServiceModalOpen()"
	(closeModal)="closeServiceModal()"
/>

<app-many-services-modal
	[carId]="carId()"
	[carInfo]="carInfo()!"
	[visible]="isManyServicesModalOpen()"
	(closeModal)="closeManyServicesModal()"
/>
