<section class="global-page-section">
	<div class="global-main-content">
		<div class="global-main-content__header">
			<app-button label="< Back" variant="secondary" size="sm" (clicked)="goBack()" />
			<h2>Services</h2>
		</div>

		<div class="global-main-content__container">
			@if (loading()) {
				<app-loader
					description="Loading services..."
					[spinnerSize]="64"
					[spinnerThikness]="7"
					[withBlur]="false"
				/>
			} @else {
				@for (service of services(); track service.id) {
					<span>Service</span>
				}
			}
		</div>
	</div>
</section>
