@use 'mixins' as *;
@use 'variables' as *;

:host {
	@include flex-column();
	height: 100vh;
	overflow: hidden;
}

.buttons {
	@include flex-center();
	justify-content: center;
	flex-shrink: 0;
	background-color: $white;
	padding: 16px;
	gap: 16px;
}
