@use 'variables' as *;
@use 'mixins' as *;

.neubrutal-card {
	background-color: $bg-page;
	color: $ink;
	position: relative;
	border: $brutal-border solid $ink;
	box-shadow: var(--shadow) var(--shadow) 0 0 $ink;
	border-radius: 18px;

	&.interactive {
		@include brutal-interactive();
	}
}
