@use 'mixins' as *;
@use 'variables' as *;

.avatar-container {
	position: relative;
	border-radius: var(--border-radius);

	&.loading {
		cursor: wait;
	}

	.select-photo-input {
		display: none;
	}

	.avatar {
		@include flex-center();
		justify-content: center;
		width: 100%;
		height: 100%;
		border-radius: inherit;
		font-size: var(--initials-size);
		font-weight: 700;
		background-color: $color-primary;
		border: $brutal-border solid $ink;
		box-shadow: var(--box-shadow) var(--box-shadow) 0px 0px $ink;
		user-select: none;
		object-fit: cover;
	}
}
