@use 'mixins' as *;
@use 'variables' as *;

:host {
	@include host-page();
}

.full-page-content {
	flex: 1;
}

.buttons {
	@include flex-center();
	padding: 14px;
	width: 100%;
	gap: 12px;

	app-button {
		width: 100%;
	}
}
