@use 'variables' as *;
@use 'mixins' as *;

:host {
	@include flex-column();
	width: 100%;
	height: 100dvh;
	overflow: hidden;
}

main {
	@include flex-column();
	flex: 1;
	min-width: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
