@use 'mixins' as *;
@use 'variables' as *;

:host {
	@include host-page();
}

.qr-code {
	position: absolute;
	top: 0;
	left: 14px;
}

.centered-container {
	@include flex-column();
	align-items: center;
	gap: 12px;

	.username {
		font-size: 20px;
		font-weight: 700;
	}
}

.buttons {
	@include flex-center();
	justify-content: center;
	gap: 12px;
}
