@use 'mixins' as *;
@use 'variables' as *;

:host {
	@include host-page();
}

.profile-container {
	align-items: center;

	.username {
		font-size: 20px;
		font-weight: 700;
	}

	&__buttons {
		@include flex-center();
		justify-content: space-between;
	}
}
