@let avatar = userAvatarDetails();

<section class="global-page-section">
	<div class="global-main-content">
		<div class="global-main-content__header">
			<app-button label="&lt; Back" variant="secondary" size="sm" (clicked)="goBack()" />
			<h2>My profile</h2>
		</div>

		<div class="global-main-content__container">
			<div class="avatar-container" [class.loading]="photoLoading()">
				<input
					#fileInput
					class="select-photo-input"
					type="file"
					[accept]="AVAILABLE_FORMATS"
					(change)="onFileSelected($event)"
				/>

				@if (photoLoading()) {
					<app-loader />
				}

				@if (avatar?.isImage) {
					<img class="avatar" [src]="avatar?.details" alt="user avatar" />
				} @else {
					<div class="avatar default-bg">{{ avatar?.details }}</div>
				}

				<app-button label="Change photo" (clicked)="onAddAvatar()" />
				<app-button label="Delete photo" variant="secondary" (clicked)="onOpenConfirmModal()" />
				<app-button label="Logout" variant="danger" (clicked)="logout()" />
			</div>
		</div>
	</div>
</section>

<app-confirm-modal
	modalTitle="Delete avatar"
	description="Are you sure you want to delete your profile picture?"
	[visible]="isConfirmModalOpen()"
	[loading]="deleteLoading()"
	(confirm)="onRemoveAvatar()"
	(cancelEvent)="onCloseConfirmModal()"
/>
