@let avatar = userAvatarDetails();

<section class="profile-page">
	<div class="top-section">
		<div class="avatar-container" [class.loading]="photoLoading()">
			<input
				#fileInput
				class="select-photo-input"
				type="file"
				[accept]="AVAILABLE_FORMATS"
				(change)="onFileSelected($event)"
			/>

			@if (photoLoading()) {
				<app-loader />
			}
			@if (avatar?.isImage) {
				<img class="avatar" [src]="avatar?.details" alt="user avatar" />
				<div tabindex="-1" role="button" class="overlay delete-mode" (click)="onOpenConfirmModal()">
					<img class="icon" src="/assets/icons/delete.svg" alt="delete avatar icon" />
				</div>
			} @else {
				<div class="avatar default-bg">{{ avatar?.details }}</div>
				<div tabindex="-1" role="button" class="overlay add-mode" (click)="onAddAvatar()">
					<span class="icon">+</span>
				</div>
			}
		</div>

		<div class="profile-info">
			@if (editingField() === 'name') {
				<input
					#userName
					class="edit-name"
					(blur)="stopEditing('name')"
					(keydown.enter)="stopEditing('name')"
				/>
			}
		</div>
	</div>

	<app-button label="Logout" (clicked)="logout()" />

	<app-button
		label="Save"
		[loading]="loading()"
	/>
</section>

<app-confirm-modal
	modalTitle="Delete avatar"
	description="Are you sure you want to delete your profile picture?"
	[visible]="isConfirmModalOpen()"
	[loading]="deleteLoading()"
	(confirm)="onRemoveAvatar()"
	(cancelEvent)="onCloseConfirmModal()"
/>
