<section class="auth-container">
	<app-card maxWidth="420px" padding="32px 20px 40px" [formGroup]="loginForm">
		<h2>
			<img class="logo" src="assets/images/logo.svg" alt="vroomie logo" />
			{{ isLoginForm() ? 'Login' : 'Register' }} to Vroomie
		</h2>

		<!-- Login -->
		<div class="global-form-field-container">
			<input id="email" type="text" placeholder="email" formControlName="email" />

			@if (hasEmailError) {
				<p class="global-form-error" [class.visible]="hasEmailError">
					@if (loginForm.controls.email.hasError('required')) {
						Email is required
					} @else if (loginForm.controls.email.hasError('email')) {
						Enter a valid email address
					}
				</p>
			}
		</div>

		<!-- Password -->
		<div class="global-form-field-container">
			<input
				id="password"
				placeholder="password"
				formControlName="password"
				[type]="isPasswordVisible() ? 'text' : 'password'"
			/>

			@if (hasPasswordError) {
				<p class="global-form-error" [class.visible]="hasPasswordError">
					@if (loginForm.controls.password.hasError('required')) {
						Password is required
					} @else if (loginForm.controls.password.hasError('minlength')) {
						Password must have at least 6 symbols
					} @else if (loginForm.controls.password.hasError('maxlength')) {
						Password is too long
					}
				</p>
			}

			<app-button
				class="show-password-button"
				[iconOnly]="isPasswordVisible() ? 'auth/eye-closed.svg' : 'auth/eye.svg'"
				[iconAlt]="isPasswordVisible() ? 'Hide password' : 'Show password'"
				(clicked)="togglePassword()"
			/>
		</div>

		<app-button
			fullWidth
			[label]="isLoginForm() ? 'Login' : 'Create account'"
			[disabled]="loginForm.invalid"
			[loading]="loading()"
			(clicked)="signInApp()"
		/>

		<div class="divider">
			<span>or</span>
		</div>

		<app-button
			variant="secondary"
			fullWidth
			class="google-button"
			iconBefore="google.svg"
			[label]="'Sign ' + (isLoginForm() ? 'in' : 'up') + ' with Google'"
			(clicked)="loginWithGoogle()"
		/>

		<span class="bottom-text">
			@if (isLoginForm()) {
				Don't have an account?
				<strong role="button" tabindex="-1" (click)="toggleForm()">Register</strong>
			} @else {
				Already have an account?
				<strong role="button" tabindex="-1" (click)="toggleForm()">Login</strong>
			}
		</span>
	</app-card>
</section>
