<app-modal-wrapper [visible]="visible()" [modalTitle]="modalTitle()" (closeModal)="onClose()">
	<div class="description">
		@if (isDescriptionArray()) {
			@for (line of description(); track line; let last = $last) {
				<p [style.margin-top.px]="last ? 12 : 0">
					{{ line }}
				</p>
			}
		} @else {
			<p>{{ description() }}</p>
		}
	</div>

	<div class="global-form-buttons-end">
		<app-button variant="secondary" [label]="cancelLabel()" (clicked)="onClose()" />
		<app-button
			variant="danger"
			[label]="confirmLabel()"
			[loading]="loading()"
			(clicked)="onApply()"
		/>
	</div>
</app-modal-wrapper>
