@use 'mixins' as *;
@use 'variables' as *;

.priority-picker {
	@include flex-center();
	justify-content: space-between;
	appearance: none;
	outline: none;
	width: 100%;
	font-weight: 500;
	font-size: 1rem;
	padding: 8px;
	border: 2px solid $ink;
	border-radius: 16px;
	background-color: $white;
	color: $ink;
	box-shadow: 2px 2px 0px 0px $ink;
	transition: $transition-main;

	&.low {
		color: $priority-low;
	}

	&.medium {
		color: $priority-medium;
	}

	&.high {
		color: $priority-high;
		font-weight: 700;
	}

	&.critical {
		color: $priority-critical;
		font-weight: 700;
	}

	.toggle-button {
		@include flex-center();
		padding: 4px 16px;
		border: 2px solid $ink;
		border-radius: 10px;
		font-size: 1.5rem;
		line-height: 1;
		cursor: pointer;
	}

	.label {
		text-align: center;
	}
}
