<section class="global-page-section">
	<div class="global-main-content">
		<div class="global-main-content__header">
			<app-button label="< Back" variant="secondary" size="sm" (clicked)="goBack()" />
			<h2>Plans</h2>
		</div>

		<div class="global-main-content__container">
			@if (loading()) {
				<app-loader
					description="Loading plans..."
					[spinnerSize]="64"
					[spinnerThikness]="7"
					[withBlur]="false"
				/>
			} @else {
				@let car = carInfo();
				<h3>{{ car?.make }} {{ car?.model }}</h3>

				@for (plan of plans(); track plan.id) {
					<p>{{ plan.title }}</p>
				} @empty {
					<span>It's time to add some plans</span>
				}
			}
		</div>
		<div class="buttons">
			<app-button label="+ Add Plan" (clicked)="openPlanModal()" />
		</div>
	</div>
</section>
