<app-modal-wrapper
	[visible]="visible()"
	[modalTitle]="selectedCar() ? 'Editing' : 'Adding' + ' car'"
	[innerPadding]="20"
	(closeModal)="onClose()"
>
	<div [formGroup]="form">
		<div class="global-form-field-container">
			<input
				id="make"
				type="text"
				placeholder="make"
				formControlName="make"
				[maxlength]="config.make.max"
			/>
			<span class="required-mark">*</span>

			@if (isMakeDropdownOpen()) {
				<app-autocomplete-dropdown
					[makeSearchTerm]="makeSearchTerm() ?? ''"
					(selectMake)="selectMake($event)"
				/>
			}

			@if (hasValidationError('make')) {
				<p class="global-form-error" [class.visible]="hasValidationError('make')">
					@if (form.controls.make.hasError('required')) {
						Car make is required
					} @else if (form.controls.make.hasError('minlength')) {
						Car make must have at least 2 symbols
					}
				</p>
			}
		</div>

		<div class="global-form-field-container">
			<input
				id="model"
				type="text"
				placeholder="model"
				formControlName="model"
				[maxlength]="config.model.max"
			/>
			<span class="required-mark">*</span>

			@if (hasValidationError('model')) {
				<p class="global-form-error" [class.visible]="hasValidationError('model')">
					@if (form.controls.model.hasError('required')) {
						Car model is required
					} @else if (form.controls.model.hasError('minlength')) {
						Car model must have at least 2 symbols
					}
				</p>
			}
		</div>

		<div class="global-form-field-container">
			<input
				id="currentOdometer"
				type="text"
				placeholder="odometer value"
				formControlName="currentOdometer"
				appOnlyNumbers
				[maxlength]="config.odometer.max"
			/>
			<span class="required-mark">*</span>

			@if (hasValidationError('currentOdometer')) {
				<p class="global-form-error" [class.visible]="hasValidationError('currentOdometer')">
					@if (form.controls.currentOdometer.hasError('required')) {
						Odometer value is required
					} @else if (form.controls.currentOdometer.hasError('minlength')) {
						Odometer value is very low
					}
				</p>
			}
		</div>

		<div class="global-form-field-container">
			<input
				id="vin"
				type="text"
				placeholder="VIN number"
				formControlName="vin"
				[maxlength]="config.vin.max"
			/>

			@if (hasValidationError('vin')) {
				<p class="global-form-error" [class.visible]="hasValidationError('vin')">
					@if (form.controls.vin.hasError('minlength')) {
						VIN should have exactly 17 symbols
					}
				</p>
			}
		</div>
	</div>

	<div class="buttons">
		<app-button variant="secondary" label="Cancel" (clicked)="onClose()" />
		<app-button
			[label]="selectedCar() ? 'Edit' : 'Add'"
			(clicked)="onSave()"
			[disabled]="isSubmitDisabled()"
		/>
	</div>
</app-modal-wrapper>
